<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>SMS - Users - Add User</title>
</head>
<body>
    <div><a href="/users">Back</a></div>
    <h1>Add User</h1>
    <form method="post" action="/users/add">
        <table>
            <tr>
                <td><label th:for="name">Name</label>:</td>
                <td><input th:name="name" type="text" /></td>
            </tr>
            <tr>
                <td><label th:for="budget">Budget</label>:</td>
                <td><input th:name="budget" type="number" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Add User" /></td>
            </tr>
        </table>
    </form>
</body>
</html>