<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>SMS - Items - Add Item</title>
</head>
<body>
    <div><a href="/items">Back</a></div>
    <h1>Add Item</h1>
    <form method="post" action="/items/add" th:object="${item}">
        <table>
            <tr>
                <td><label th:for="name">Name</label>:</td>
                <td><input th:field="*{name}" type="text" /></td>
            </tr>
            <tr>
                <td colspan="2"><span th:errors="*{name}" /></td>
            </tr>
            <tr>
                <td><label th:for="cost">Cost</label>:</td>
                <td><input th:field="*{cost}" type="number" /></td>
            </tr>
            <tr>
                <td colspan="2"><span th:errors="*{cost}" /></td>
            </tr>
            <tr>
                <td><label th:for="value">Value</label>:</td>
                <td><input th:field="*{value}" type="number" /></td>
            </tr>
            <tr>
                <td colspan="2"><span th:errors="*{value}" /></td>
            </tr>
            <tr>
                <td><label th:for="hasServiceContract">Has Service Contract</label>:</td>
                <td><input th:field="*{hasServiceContract}" type="checkbox" /></td>
            </tr>
            <tr>
                <td colspan="2"><span th:errors="*{hasServiceContract}" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" /></td>
            </tr>
        </table>
    </form>
</body>
</html>